<div class="main-container">
  <app-hero></app-hero>

  <app-product-section title="Most Popular Products" [products]="popitems">
  </app-product-section>
  <button mat-flat-button>
    <a
      [routerLink]="['/shop', 'products']"
      [queryParams]="{ _sort: 'rating' }"
      class="not-anchor"
    >
      View All Products
    </a>
  </button>

  <app-product-section title="Newest Products" [products]="items">
  </app-product-section>
  <button mat-flat-button>
    <a [routerLink]="['/shop', 'products']" class="not-anchor">
      View All Products
    </a>
  </button>

  <div class="categories-section">
    <div class="section-header">
      <h2>Categories</h2>
    </div>
    <div class="categories-grid">
      @for (category of categories; track category) {
        @if ($index < 3) {
          <app-card-inline [title]="category"></app-card-inline>
        }
      }
      <button mat-flat-button>
        <a [routerLink]="['/shop', 'categories']" class="not-anchor">
          View All Categories
        </a>
      </button>
    </div>
  </div>
</div>
